site_name: "" #Fink
repo_url: https://github.com/astrolabsoftware/fink-broker
repo_name: lsst-fink-broker
edit_uri: ""

nav:
    - Home: index.md

theme:
  name: material
  features:
    - content.code.copy
    - navigation.sections
    - content.code.annotate
      # - navigation.tabs
  logo: img/Fink_PrimaryLogo_WEB.png
  favicon: img/favicon.ico
  icon:
    annotation: material/plus-circle
  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/theme-light-dark
        name: Switch light/dark mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: dark blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep orange
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

#extra:
#  alternate:
#    - name: English
#      link: /en/
#      lang: en
#    - name: French
#      link: /fr/
#      lang: fr

extra_css: [extra.css]

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - attr_list
  - md_in_html


copyright: Copyright &copy; 2018-25 <a href="https://fink-broker.org">Fink team</a>.
