/* .btn-index2 {
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  } */

@media (prefers-color-scheme: dark) {
  .btn-index2 {
    background: linear-gradient(75deg, #f7f7f7 40%, #e89070 100%) !important;
    color: #f5622e !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  }
}

@media (prefers-color-scheme: light) {
  .btn-index2 {
    width: 90px !important;
    height: 30px !important;
    font-size: 10px !important;
    background: linear-gradient(75deg, #f7f7f7 40%, #15284f 100%) !important;
    color: #15284f !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  }
}

